
<table class="ui striped table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Date of Birth</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      LOOP THROUGH STUDENTS
    </tr>
  </tbody>
</table>

<!-- <div class="ui centered grid">
  <div class="four wide column">
    <h2>Students</h2>
    <%= form_tag("/students/login", method:"post", :class => "ui huge form") do %>
      <div class="field">
        <%= email_field(:student, :email, placeholder: "Email") %>
      </div>
      <div class="field">
        <%= password_field(:student, :email, placeholder: "Password") %>
      </div>
      <%= submit_tag('Login', :class => "ui button") %>
      <p>Not a user? <a href="/users/signup">Sign up!</a></p>
    <% end %>
  </div>

  <div class="four wide column">
    <h2>Instructors</h2>
    <%= form_tag("/instructors/login", method:"post", :class => "ui huge form") do %>
      <div class="field">
        <%= email_field(:instructor, :email, placeholder: "Email") %>
      </div>
      <div class="field">
        <%= password_field(:instructor, :email, placeholder: "Password") %>
      </div>
      <%= submit_tag('Login', :class => "ui button") %>
        <p>Not a user? <a href="/users/signup">Sign up!</a></p>
    <% end %>
  </div>

</div> -->
