
<table class="ui striped table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Date of Birth</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <!-- LOOP THROUGH STUDENTS -->
      <% if current_user %>
        @all_students.reverse_each do |students|
          <td><%= %></td>
          <td><%= %></td>
          <td><%= %></td>
          <td><%= %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<div class="ui centered grid">
  <div class="four wide column">
    <h2> Add Students</h2>
    <%= form_tag("/students/create", method:"post", :class => "ui form") do %>
    <div class="field">
      <%= text_field(:student, :first_name, placeholder: "First Name") %>
    </div>
    <div class="field">
      <%= text_field(:student, :last_name, placeholder: "Last Name") %>
    </div>
    <div class="field">
      <%= email_field(:student, :email, placeholder: "Email") %>
    </div>
    <div class="field">
      <%= date_field(:student, :birthday) %>
    </div>
    <div class="field">
      <label>Please select your highest level of education completed:</label>
      <%= select_tag(:education,  options_for_select([['High School Diploma', 'High School Diploma'], ["Some College", 'Some College']])) %>
    </div>
    <%= submit_tag('Add Student', :class => "ui button") %>
    <% end %>
  </div>

</div>
