<!DOCTYPE html>
<html>
  <head>
    <title>Schooly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header" class="ui center aligned header">
      <div id="inner-header" class="ui center aligned header">
        <%= image_tag("pen.svg", :id => "img") %>
        <h1>schooly</h1>
      </div>

    </div>

    <div class="ui inverted menu">
      <div class="left menu">
        <a class="item" href="/pages/cohorts">Cohorts</a>
        <a class="item" href="/pages/courses">Courses</a>
        <a class="item" href="/pages/instructors">Instructors</a>
        <a class="item" href="/pages/students">Students</a>
      </div>
      <div class="right menu">
        <% if signed_in? %>
          <a class="item">
            Signed in as: <%= current_user.email %>
          </a>
          <a class="item">
            <%= button_to 'Sign out', sign_out_path, method: :delete %>
          </a>
        <% else %>
          <a class="item">
            <%= link_to 'Sign in', sign_in_path, class: "ui button" %>
          </a>
        <% end %>
        <a class="item">Help</a>
      </div>
    </div>



    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>


    <%= yield %>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
